/* @override
http://192.168.69.28/rhein-vd/css/wifi.css */

#push-status-report a {
  display: block;
  width: 192px;
}

#dns-ddns {
  clear: both;
}

#status a {
  display: block;
  width: 192px;
}
#push-status-report a {
  display: block;
  width: 192px;
}
#push-status-report {
  clear: both;
}
#diagnostic-utility {
  clear: both;
}
/***** ACTUALLY NEW STUFF FOR WIFI SECTION *****/
/***** Because everything above is just copied and unchanged from status-and-support.css *****/

#wifiWrap div .h3Column1, #wifiWrap div .h3Column2 {
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  height: 27px;
  margin-bottom: 16px;
  padding: 6px 0 0;
  width: 194px;
}


#wifiWrap div .h3Column2 {
  float: right;
}

.wifiUnsecuredError {
  color: #EC9C1A;
  font-weight: bold;
}

/***** WDS Table styles from phone.css *****/

/* .tabbedTableWithHeading */
.tabbedTableWithHeading {
  table-layout: fixed; /* No automatic sizing of cell widths */
}
.tabbedTableWithHeading td .checkbox {
  margin-bottom: -6px;
}
#schedule-table.tabbedTableWithHeading td .checkbox {
  margin-bottom: 5px;
}

/* .singleAdditionalLine */
.singleLineCells td, .singleLineCells th {
  height: 30px;
}

/***** Specific: Wifi/Timer *****/

#wifiWrap div .inputgroupcheckbox {
  /* background-color: #fcf; */
  clear: none;
  float: right;
  padding: 0 0 0 0;
  font-size: 14px;
  margin-top: 0;
  text-align: left;
  width: 202px;
}

#wifiWrap .inputgroupcheckbox input{
  float: none;
  margin-left: 8px;
  margin-top: 0;
  margin-right: 7px;
}

#wifiWrap div .inputGroupTimer {
  /* background-color: #fcf; */
  clear: none;
  float: right;
  padding: 0 0 0 0;
  font-size: 13px;
  width: 194px;
}

#wifiWrap .inputGroupTimer input {
  float: none;
  width: 44px; /* 192px */
}

#wifiWrap .inputGroupTimer .button-delete {
  float: right;
  width: 41px; /* 192px */
}

.radioTab {
  clear: none;
  float: left;
  font-size: 12px;
  margin-bottom: 12px;
  text-align: left;
  width: 191px;
  color: #888888;
}

.radioTab .radio-checked, .radioTab .radio-unchecked {
  margin: 3px 8px 0 0;
  float: left;
}

.radioTab span {
  width: 150px;
  color: #333333;
  display: inline-block;
  font-size: 14px;
}

.table.lan-statistics .table-row {
  min-height: 24px;
  padding-top: 6px;
}
.table.lan-statistics .table-col.table-col1 {
  width: 75px;
}
.table.lan-statistics .table-col.table-col2 {
  width: 100px;
}
.table.lan-statistics .table-col.table-col3 {
  width: 45px;
}
.table.lan-statistics .table-col.table-col4 {
  width: 45px;
}
.table.lan-statistics .table-col.table-col5 {
  width: 55px;
}
.table.lan-statistics .table-col.table-col6 {
  width: 88px;
}
.table.lan-statistics .table-col.table-col7 {
  width: 55px;
}
.table.lan-statistics .table-col.table-col8 {
  width: 50px;
}
.table.lan-statistics .table-col.table-col9 {
  width: 45px;
}

.table.network-devices .table-row {
  min-height: 24px;
  padding-top: 6px;
}
.table.network-devices .table-col.table-col1 {
  width: 300px;
}
.table.network-devices .table-col.table-col2 {
  width: 110px;
}
.table.network-devices .table-col.table-col3 {
  width: 110px;
}
