config cgroups cgroups
	option enabled 1
	option defgroup base

config cgroup _root_
	list option cpu.rt_runtime_us=50000
	list option memory.move_charge_at_immigrate=1

config cgroup base
	list option cpu.shares=4096
	list option cpu.rt_runtime_us=20000
	list option memory.limit_in_bytes=-1
	list option memory.move_charge_at_immigrate=1

config cgroup appl
	list option cpu.shares=2048
	list option cpu.rt_runtime_us=10000
	list option memory.limit_in_bytes=75M
	list option memory.move_charge_at_immigrate=1

config cgroup voice
	list option cpu.shares=2048
	list option cpu.rt_runtime_us=10000
	list option memory.limit_in_bytes=30M
	list option memory.move_charge_at_immigrate=1

config procmap procmap

	list procmap asterisk=voice
	list procmap voice-aoRT=voice
	list procmap voice-HTSK=voice
	list procmap voice-HRTBEAT=voice
	list procmap voice-VRGDISP=voice
	list procmap voice-HCAS=voice
	list procmap voice-ISTW=voice

	list procmap dropbear=appl
	list procmap lighttpd=appl
	list procmap minidlna=appl
	list procmap nas=appl
	list procmap nmbd=appl
	list procmap smbd=appl

